<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lab3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C87E1241D98E3D900694747</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C87E13B1D98E3DA00694747</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C87E1461D98E3DA00694747</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
