body{
	font-family: sans-serif;
	text-align: center;
}

.container{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 80%;
	height: 80%;
	padding: 5% 10%;
}
.clr p{
	padding: 15px 10px;
	border: 1px solid black;
	border-radius: 15px;
}
.inactive {
	color: #8C8F87;
}
a, a:visited {
	color: #EE0A00;
	text-decoration: none;
}
a:hover{
	cursor: pointer;
}
.nav{
	position: fixed;
	top: 0;
	width: 100%;
	left: 0%;
	height: 5%;
	color: #FFFFFF;
	background-color: #BB231F;
	font-size: 2em;
}